/* Header */
header{
    background-color: rgb(68, 163, 207);   
    background-image: url(img/pattern.png)
}

div{
    width: 100%;
    height: 180px;
    font-size: 100px;
    color: white;
}
/* Header */

/* Main */

/* Main */
/* Footer */
/* Footer */