body{
    width: 1500px;
}
       /* Header */
header{
    background-image: url(img/pattern.png);
    background-color: rgb(68, 163, 207);   
    background-size: contain;
    background-repeat: repeat;
    height: 100px;
}

div{
    
    color: white;
    font-family: fantasy; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15px;  
    width: 100px; 
}
