/* Header */
header{
    background-color: rgb(68, 163, 207);   
    background-image: url(img/pattern.png)
}

div{
    height: 150px;
    font-size: 50px;
    color: white;
}
/* Header */

/* Main */
#titolo{
    font-size: 50px;
    margin: 0%;
}
#span-colorato{
    color: rgb(68, 163, 207);
}
p{
    margin: 0px;
}
#margin{
    margin-bottom: 20px;
}


/* Main */


/* Footer */
/* Footer */